.container {
    display: flex;
    flex-direction: row;
}
.container > div {
    flex-grow: 1;
}
.players {
    max-width: 300px;
}
.heading {
    margin: 16px 0;
}

.communityCards, .hand {
    display: flex;
    flex-direction: row;
}

.card, .noCard {
    display: inline-block;
    margin: 4px;
    width: 24px;
    height: 32px;
    text-align: center;
    line-height: 16px;
    padding: 8px 6px;
    border-radius: 8px;
    /* i do not understand css */
    vertical-align: top;
}
.noCard {
    background-color: rgba(255, 255, 255, 0.1);
}
.card {
    background-color: #fff;
    color: #000;
}
.redSuit {
    color: #e00;
}
.cardHighlight {
    outline: 2px dashed white;
}
.cardClickable {
    box-shadow: 0 0 2px 2px lightblue;
    cursor: pointer;
}

.cardStack {
    display: flex;
    flex-direction: column;
}

.player {
    margin: 16px;
    padding: 8px;
    border-radius: 8px;
}

.highlightPlayer {
    background: rgba(255, 255, 255, 0.1);
}

.playerName {
    font-weight: bold;
}

.token, .noToken {
    margin: 4px;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    display: inline-block;
    box-sizing: border-box;
    font: inherit;
    font-size: 20px;
    text-align: center;
    /* i do not understand css */
    vertical-align: top;
}
.token {
    border: 2px solid white;

    background: none;
    color: inherit;
    padding: 0;
}
.token:hover:not(:disabled) {
    background: rgba(255, 255, 255, 0.1);
}
.token:active:not(:disabled) {
    background: rgba(255, 255, 255, 0.2);
}

.smallToken {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 1px solid white;
    text-align: center;
}

.noToken {
    border: 2px dashed white;
}

.log {
    display: flex;
    flex-direction: column-reverse;
}

.log h2 {
    order: 1;
}

.roundLog {
    display: flex;
    flex-direction: column-reverse;
}
