.container {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.container > div {
    flex-grow: 1;
}
.players {
    max-width: 400px;
}
.heading {
    margin: 16px 0;
}

.communityCards,
.hand {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.hand {
    margin: 4px 0;
}

.handScore {
    visibility: visible;
}

.card,
.noCard {
    display: inline-block;
    width: 24px;
    height: 32px;
    text-align: center;
    line-height: 16px;
    padding: 8px 6px;
    border-radius: 8px;
    /* i do not understand css */
    vertical-align: top;
}
.noCard {
    background-color: rgba(255, 255, 255, 0.1);
}
.card {
    background-color: #fff;
    color: #000;
}
.cardJoker {
    font-size: 24px;
    line-height: 32px;
}
.redSuit {
    color: #e00;
}
.blackSuit {
    color: #000;
}
.cardHighlight {
    outline: 2px dashed white;
}
.cardClickable {
    box-shadow: 0 0 2px 2px lightblue;
    cursor: pointer;
}

.cardStack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.player {
    margin: 4px;
    padding: 12px;
    border-radius: 8px;
}

.highlightPlayer {
    background: rgba(255, 255, 255, 0.1);
}

.playerName {
    font-weight: bold;
}

.tokenPool {
    margin: 4px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.token,
.noToken {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    display: inline-block;
    box-sizing: border-box;
    font: inherit;
    font-size: 20px;
    text-align: center;
    /* i do not understand css */
    vertical-align: top;
}
.noToken {
    border: 2px dashed white;
}
.token {
    margin: -2px;
    border: 2px solid white;
    box-shadow: 0 0 1px white; /* this shadow obscures slight artifacts from the noToken underneath */

    background-color: #570773;
    color: inherit;
    padding: 0;
}
.token:hover:not(:disabled) {
    background: color-mix(in srgb, #570773, white 10%);
}
.token:active:not(:disabled) {
    background: color-mix(in srgb, #570773, white 20%);
}
.token.pastToken {
    border-style: dotted;
}

.smallToken {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 1px solid white;
    text-align: center;
}

.revealLog {
    display: flex;
    flex-direction: column;
    margin: 4px 0;
}
.gameResult {
    visibility: visible;
}

.log {
    display: flex;
    flex-direction: column-reverse;
}

.log h2 {
    order: 1;
}

.roundLog {
    display: flex;
    flex-direction: column-reverse;
}

.roundLogEntry {
    visibility: visible;
}
